
    <form [formGroup]="Postdata" (ngSubmit)="postData()">
      <table>
        <tr>
          <td class="left">
            <label>Trabajo:</label>
          </td>
          <td>
            <input class="field" type="text" placeholder="título del trabajo" formControlName="JobTitle"><br>
            <small class="small" *ngIf="formErrors.JobTitle" >{{formErrors.JobTitle}}</small>
          </td>
        </tr>
        <tr>
            <td class="left">
              <label>Conocimientos requeridos:</label>
            </td>
            <td>
              <input class="field" type="text" placeholder="Conocimientos requeridos" formControlName="SkillsRequire"><br>
              <small class="small" *ngIf="formErrors.SkillsRequire" >{{formErrors.SkillsRequire}}</small>
            </td>
          </tr>
        <tr>
            <td class="left">
              <label>Descripcion:</label>
            </td>
            <td>
              <textarea class="field" placeholder="Description" rows="4" formControlName="Description"></textarea><br>
              <small class="small" *ngIf="formErrors.Description" >{{formErrors.Description}}</small>            
            </td>
          </tr>
        <tr>
          <td class="left">
            <label>Experiencia requerida:</label>
          </td>
          <td>
            <input class="field" type="number" max = "2" placeholder="Experience Require" formControlName="ExperienceRequire"><br>
            <small class="small" *ngIf="formErrors.ExperienceRequire" >{{formErrors.ExperienceRequire}}</small>            
          
          </td>
        </tr>
        <tr>
          <td class="left">
            <label>Dirección:</label>
          </td>
          <td>
            <input class="field" type="text" placeholder="Location" formControlName="Location"><br>
            <small class="small" *ngIf="formErrors.Location" >{{formErrors.Location}}</small>            
          
          </td>
        </tr>
        <tr>
          <td class="left">
            <label>Vacantes:</label>
          </td>
          <td>
            <input class="field" type="number" placeholder="Vacancies" formControlName="Vacancies"><br>
            <small class="small" *ngIf="formErrors.Vacancies" >{{formErrors.Vacancies}}</small>            
            
          </td>
        </tr>
        <tr>
          <td class="left">
            <label>Salario mensual:</label>
          </td>
          <td>
            <input class="field" type="number" placeholder="salario mensual" formControlName="Package"><br>
            <small class="small" *ngIf="formErrors.Package" >{{formErrors.Package}}</small>            
         
          </td>
        </tr>
        <tr>
            <td class="left">
              <label>Publicado:</label>
            </td>
            <td>
              <input class="field" type="date" placeholder="" formControlName="LastDate"><br>
            </td>
          </tr>
      </table>
  
      <input class="btn" type="submit" value="Añadir publicación" [disabled]="!this.Postdata.valid">
      <input class="btn margin" type="button" (click)='close()' value="Cerrar">
    </form>
 