<div class="container">
  <div class="card" style="background-color:gray">
    <form [formGroup]="editForm" (ngSubmit)="submitHandler()">
      <div class="container" style="text-align: center">
        <div class="col">
          <h3 style="text-align: center">Perfil</h3>
          <input class="form-group" type=" text " placeholder="usuario" formControlName="UserName" disabled>
          <br>
          <input class="form-group" type=" text " placeholder="nombre" formControlName="FirstName">
          <br>
          <input class="form-group" type=" number " placeholder="apellido" formControlName="LastName">
          <br>
          <input class="form-group" type=" email " placeholder="Email" formControlName="Email">
          <br>
          <input class="form-group" type=" number " placeholder="teléfono" formControlName="Phone">
          <br>
          <input class="form-group" type=" text " placeholder="Dirección" formControlName="Address">
          <br>
          <input class="form-group" type=" text " placeholder="Conocimientos" formControlName="Skills">
          <br>
          <input class="form-group" type=" number " placeholder="Experiencia" formControlName="Experience">
          <br>
          <div class="fileupload">
            <input type="file" id="customFile" (change)="onchangefile($event)">
            <br>
            <button class="btn btn-warning" type="button" (click)="uploadFile()">Añadir CV</button>
          </div>
          <div class="fileupload">
            <input type="file" id="customFile1" (change)="onchangephoto($event)">
            <br>
            <button class="btn btn-warning" type="button" (click)="uploadPhoto()">Añadir foto</button>
          </div>


          <!-- <input class="no_field" input type="text" pattern="\d*" maxlength="6" placeholder=" Enter Quantity" formControlName="quantity"><br> -->
          <br>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success">Guardar </button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
        </div>
        <br> </div>
    </form>
  </div>
</div>