<div class="container" style="margin-left: auto; margin-right: auto;">
  <br>
  <br>
  <h2 style="text-align: center">Empresas inscritas</h2>
  <div class="row">

    <div class="col-4" *ngFor="let  d of details; let i = index;">

      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header"><h4> {{d.Provider_id.CompanyName}}</h4>

        </div>

        <div class="card-body">
          <h5 class="card-title">{{d.Provider_id.Address}} <i class="fas fa-map-marker-alt"></i></h5>
          <p class="card-text">Dominio - {{d.Provider_id.CompanyDomain}}
            <br>Trabajo - {{d.JobTitle}}
            <br>Conocimientos requeridos - {{d.SkillsRequire}}
            <br>Email - {{d.Provider_id.Email}}
            </p>
            <!-- <br><h5>Created by -<i> {{ res.user[0].firstname }},{{res.user[0].email}}</i></h5></p> -->
        </div>
      </div>


    </div>
  </div>
</div>