<br><br>
<div class="register ">
  <form [formGroup]="Registerdata" enctype='multipart/form-data' (ngSubmit)="Register()">
    <h3>Registrar</h3>
    <table>
      
      <tr>
        <td>
          <label>Nombre:</label>
          <input class="field" type="text" placeholder="Nombre" formControlName="FirstName"><br>
        </td>
        <td>
          <label>Apellidos:</label>
          <input class="field" type="text" placeholder="Apellidos" formControlName="LastName"><br>
        </td>
      </tr>
      <tr>
        <td>
          <label>UserName:</label>
          <input class="field" type="text" placeholder="username" formControlName="UserName"><br>
        </td>
        <td>
          <label>Password:</label>
          <input class="field" type="password" placeholder="Password" formControlName="Password"><br>
        </td>
      </tr>
      <tr>
        <td>
          <label>Email:</label>
          <input class="field" type="email" placeholder="Email" formControlName="Email"><br>
        </td>
        <td>
          <label>Nº Contacto:</label>
          <input class="field" type="number" maxlength="10" placeholder="Conatct No" formControlName="Phone"><br>
        </td>
      </tr>
    </table>
    <label>Experiencia:</label>
    <input class="field" type="number" placeholder="Experiencia en años" formControlName="Experience"><br><br>
    <label>Conocimientos:</label>
    <input class="field" type="text" placeholder="Conocimientos" formControlName="Skills">
    <label>Dirección:</label>
    <input class="field" type="text" placeholder="Dirección" formControlName="Address"><br><br>
    <div class="fileupload">
      <input type="file" id="customFile" (change)="onchangefile($event)"><br>
      <button class="btn" type="button" (click)="uploadFile()">Añadir CV</button>
    </div>

    <div class="fileupload">
      <input type="file" id="customFile1" (change)="onchangephoto($event)"><br>
      <button class="btn" type="button" (click)="uploadPhoto()">Añadir foto</button>
    </div>
    <input class="btn btn-lg" type="submit" value="Register" [disabled]="!this.Registerdata.valid">
    <br><br>
    <a routerLink="/users/login">¿Ya estás registrado?</a>
  </form>
</div>
<br><br>
