<br><br>
<div class="register ">
  <form [formGroup]="Registerdata" enctype='multipart/form-data' (ngSubmit)="Register()">
    <h3>Register</h3>
    <table>
      
      <tr>
        <td>
          <label>First Name:</label>
          <input class="field" type="text" placeholder="FirstName" formControlName="FirstName"><br>
        </td>
        <td>
          <label>Last Name:</label>
          <input class="field" type="text" placeholder="LastName" formControlName="LastName"><br>
        </td>
      </tr>
      <tr>
        <td>
          <label>UserName:</label>
          <input class="field" type="text" placeholder="username" formControlName="UserName"><br>
        </td>
        <td>
          <label>Password:</label>
          <input class="field" type="password" placeholder="Password" formControlName="Password"><br>
        </td>
      </tr>
      <tr>
        <td>
          <label>Email:</label>
          <input class="field" type="email" placeholder="Email" formControlName="Email"><br>
        </td>
        <td>
          <label>Conatct No:</label>
          <input class="field" type="number" maxlength="10" placeholder="Conatct No" formControlName="Phone"><br>
        </td>
      </tr>
    </table>
    <label>Experience:</label>
    <input class="field" type="number" placeholder="Experience in Years" formControlName="Experience"><br><br>
    <label>Skills:</label>
    <input class="field" type="text" placeholder="Skills" formControlName="Skills">
    <label>Address:</label>
    <input class="field" type="text" placeholder="Address" formControlName="Address"><br><br>
    <div class="fileupload">
      <input type="file" id="customFile" (change)="onchangefile($event)"><br>
      <button class="btn" type="button" (click)="uploadFile()">Upload CV</button>
    </div>

    <div class="fileupload">
      <input type="file" id="customFile1" (change)="onchangephoto($event)"><br>
      <button class="btn" type="button" (click)="uploadPhoto()">Upload Photo</button>
    </div>
    <input class="btn btn-lg" type="submit" value="Register" [disabled]="!this.Registerdata.valid">
    <br><br>
    <a routerLink="/users/login">Already Registered?</a>
  </form>
</div>
<br><br>
